.radiant-background {
  height: 100%;
  width: 100%;
  background: rgba(43, 132, 237, 1);
  background: radial-gradient(
    circle,
    rgba(234, 243, 253, 1) 0%,
    rgba(234, 243, 253, 1) 30%,
    rgba(44, 99, 201, 1) 100%
  );
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.base-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base-container .content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.base-container .content .image {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 0;
}

.base-container .content .image img {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 25px;
}

input:hover {
  background-color: #fff;
  box-shadow: 0px 0px 3px 0.5px #2b84ed;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 3px 0.5px #2b84ed;
}

.footer {
  margin-top: 1em;
}

.errormessage {
  margin-top: -15px;
}
